<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="806884">  <td>23/01/17 21:42:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginDemoWebShop.addtoCart()[pri:0, instance:com.tesng.assignment.LoginDemoWebShop@79efed2d]">addtoCart</td> 
  <td>main@1912962767</td>   <td></td> </tr>
<tr bgcolor="806884">  <td>23/01/17 21:42:53</td>   <td>11382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginDemoWebShop.tearDown()[pri:0, instance:com.tesng.assignment.LoginDemoWebShop@79efed2d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1912962767</td>   <td></td> </tr>
<tr bgcolor="806884">  <td>23/01/17 21:42:31</td>   <td>-10317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginDemoWebShop.launchUrl()[pri:0, instance:com.tesng.assignment.LoginDemoWebShop@79efed2d]">&gt;&gt;launchUrl</td> 
<td>&nbsp;</td>  <td>main@1912962767</td>   <td></td> </tr>
</table>
